.App {
  text-align: center;
}

.Container{
  min-height: 95vh;
  max-height: 95vh;
  width: 100%;
  background-color: #fff;
}

.Container-Header{
height: 60px;
background-color: #474747;
color: #fff;
font-size: 30pt;
margin-bottom: 1%;
font-weight: 600;
}

.Grid-Container{
  display: grid;
}

.Demographic{
  font-weight: 500;
}

.Grid-Header{
  display: grid;
  width: 100%;
  color: #fff;
  font-size: 16pt;
  margin-bottom: 2px;
  background-color: rgb(187, 187, 187);
  grid-template-columns: repeat(5,1fr);
}

.Grid-Data-Row{
  font-style: italic;
}
  
.Grid-Data{
  padding-bottom: 1%;
}

.Grid-Data-Row{
  display: grid;
  max-width: inherit;
  grid-template-columns: repeat(5,1fr);
  min-height: 50px;
  padding: 1px;
}

.red{
  color: red;
}

.green{
  color: green;
}

.Grid-Data-Row:nth-child(even){
  background-color: rgb(255, 228, 254);
}

.Grid-Data-Row:nth-child(odd){
  background-color: rgb(243, 242, 242);
}

.Grid-Data-Row:active{
  background-color: rgb(163, 163, 163);
  color:#fff;
}

.Grid-Data-Row:hover{
  background-color: rgb(163, 163, 163);
  color:#fff;
}
.Center{
  margin: 0 auto; 
  max-width: 95%;
  border-radius: 5px;
  background-color: rgb(243, 242, 242);
  filter: drop-shadow(0.5rem 0.5rem 0.55rem rgba(0, 0, 20, 0.61));
}


